---
layout: default
---
<article>
    <h1>{{ page.title | escape }}</h1>

    {{ content }}

    <p class="meta"><time id="postedon" datetime="{{ page.date | date_to_xmlschema }}">Posted <span id="postedago"></span> on {{ page.date | date: "%B %-d, %Y" }}</time></p>
    <script>
        // dynamically calculate time ago based on http://stackoverflow.com/a/3177838
        function ago(date) {
            function render(n, unit) {
                return n + " " + unit + ((n == 1) ? "" : "s") + " ago";
            }

            var seconds = Math.floor((new Date() - date) / 1000);

            var interval = Math.floor(seconds / (60 * 60 * 24 * 365));
            if (interval >= 1) {
                return render(interval, "year");
            }
            interval = Math.floor(seconds / (60 * 60 * 24 * 30));
            if (interval >= 1) {
                return render(interval, "month");
            }
            interval = Math.floor(seconds / (60 * 60 * 24));
            if (interval >= 1) {
                return render(interval, "day");
            }
            interval = Math.floor(seconds / (60 * 60));
            if (interval >= 1) {
                return render(interval, "hour");
            }
            interval = Math.floor(seconds / 60);
            if (interval >= 1) {
                return render(interval, "minute");
            }
            interval = Math.floor(seconds);
            return render(interval, "second");
        }

        var date = Date.parse(document.getElementById("postedon").getAttribute("datetime"));
        document.getElementById("postedago").innerHTML = ago(date);
    </script>
</article>
